<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        background-color: whitesmoke;
        font-family: "Segoe UI", serif;
        animation-name: bo;
        animation-duration: 10s;
    }

    @keyframes bo {
        from {
            background-color: whitesmoke;
        }
        to {
            background-color: floralwhite
        }

    }

    .jumbotron {
        background-color: antiquewhite;
        box-shadow: 5px 10px #888888;
    }


    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: gray;
        border-bottom: 1px solid #d4d4d4;
    }

    /*when hovering an item:*/
    .autocomplete-items div:hover {
        background-color: #e9e9e9;
    }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: gray !important;
        color: black;
    }
</style>
<body>
<form method="POST" action="">
    <div class="container">
        <div class="jumbotron">
            <h1>Recommendation System</h1>
            <p><a href={{ url_for("moviehome") }}>Movies</a> - <a href={{ url_for("search_by_bookscontent") }}>Books</a>
                - <a href= {{ url_for("search_by_musiccontent") }}>Music</a></p>
        </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Get recommendation of books</h3>
            <form id="content" method="POST" autocomplete="off">
                <input type="text" name="sb" id="sb1" placeholder="Book name">
                <input type="number" name="sb2" id="sb3" placeholder="Book rating" maxlength="2" size="20px">

                <div class="block"><input type="submit" name="submit" placeholder="submit" class="block">
                </div>
            </form>
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

            <script>
                function autocomplete(inp, arr) {

                    var currentFocus;
                    inp.addEventListener("input", function (e) {
                        var a, b, i, val = this.value;
                        closeAllLists();
                        if (!val) {
                            return false;
                        }
                        currentFocus = -1;
                        a = document.createElement("DIV");
                        a.setAttribute("id", this.id + "autocomplete-list");
                        a.setAttribute("class", "autocomplete-items");
                        this.parentNode.appendChild(a);
                        for (i = 0; i < arr.length; i++) {
                            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                                b = document.createElement("DIV");
                                b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                                b.innerHTML += arr[i].substr(val.length);
                                b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                                b.addEventListener("click", function (e) {
                                    inp.value = this.getElementsByTagName("input")[0].value;
                                    /*close the list of autocompleted values,
                      (or any other open lists of autocompleted values:*/
                                    closeAllLists();
                                });
                                a.appendChild(b);
                            }
                        }
                    });
                    /*execute a function presses a key on the keyboard:*/
                    inp.addEventListener("keydown", function (e) {
                        var x = document.getElementById(this.id + "autocomplete-list");
                        if (x) x = x.getElementsByTagName("div");
                        if (e.keyCode == 40) {
                            /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                            currentFocus++;
                            /*and and make the current item more visible:*/
                            addActive(x);
                        } else if (e.keyCode == 38) { //up
                            /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                            currentFocus--;
                            /*and and make the current item more visible:*/
                            addActive(x);
                        } else if (e.keyCode == 13) {
                            /*If the ENTER key is pressed, prevent the form from being submitted,*/
                            e.preventDefault();
                            if (currentFocus > -1) {
                                /*and simulate a click on the "active" item:*/
                                if (x) x[currentFocus].click();
                            }
                        }
                    });

                    function addActive(x) {
                        /*a function to classify an item as "active":*/
                        if (!x) return false;
                        /*start by removing the "active" class on all items:*/
                        removeActive(x);
                        if (currentFocus >= x.length) currentFocus = 0;
                        if (currentFocus < 0) currentFocus = (x.length - 1);
                        /*add class "autocomplete-active":*/
                        x[currentFocus].classList.add("autocomplete-active");
                    }

                    function removeActive(x) {
                        /*a function to remove the "active" class from all autocomplete items:*/
                        for (var i = 0; i < x.length; i++) {
                            x[i].classList.remove("autocomplete-active");
                        }
                    }

                    function closeAllLists(elmnt) {
                        /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
                        var x = document.getElementsByClassName("autocomplete-items");
                        for (var i = 0; i < x.length; i++) {
                            if (elmnt != x[i] && elmnt != inp) {
                                x[i].parentNode.removeChild(x[i]);
                            }
                        }
                    }

                    /*execute a function when someone clicks in the document:*/
                    document.addEventListener("click", function (e) {
                        closeAllLists(e.target);
                    });
                }

                var books = [" Animal Farm & 1984",
                    " Carter Beats the Devil",
                    " The Fellowship of the Ring",
                    " めくらやなぎと、眠る女 [Mekurayanagi to",
                    " nemuru onna]",
                    "'Salem's Lot The Illustrated Edition",
                    "'Tis: A Memoir",
                    "1421: The Year China Discovered America",
                    "1776",
                    "31 Songs",
                    "A Bend in the River",
                    "A Bend in the Road",
                    "A Brief History of Time: From the Big Bang to Black Holes",
                    "A Briefer History of Time",
                    "A Case of Need",
                    "A Christmas Carol",
                    "A Christmas Carol and Other Christmas Writings",
                    "A Fine Balance",
                    "A Great and Terrible Beauty",
                    "A Heartbreaking Work of Staggering Genius",
                    "A History of God: The 4",
                    "000-Year Quest of Judaism",
                    " Christianity",
                    " and Islam",
                    "A History of the World in 6 Glasses",
                    "A Home at the End of the World",
                    "A House for Mr. Biswas",
                    "A Lesson Before Dying",
                    "A Little Princess",
                    "A Man Without a Country",
                    "A Map of the World",
                    "A Midsummer Night's Dream",
                    "A Million Little Pieces",
                    "A Modest Proposal and Other Satirical Works",
                    "A Moveable Feast",
                    "A Painted House",
                    "A People's History of the United States: 1492 to Present ",
                    "A Portrait of the Artist as a Young Man",
                    "A Prayer for Owen Meany",
                    "A Raisin in the Sun",
                    "A Room with a View",
                    "A Separate Peace",
                    "A Short History of Nearly Everything",
                    "A Son of the Circus",
                    "A Spot of Bother",
                    "A Supposedly Fun Thing I'll Never Do Again: Essays and Arguments",
                    "A Tale of Two Cities",
                    "A Virtuous Woman ",
                    "A Walk in the Woods",
                    "A Walk to Remember",
                    "A Widow for One Year",
                    "A Woman of Substance ",
                    "About a Boy",
                    "Airframe",
                    "All Families Are Psychotic",
                    "All the King’s Men",
                    "All-of-a-Kind Family",
                    "Allies of the Night (Cirque Du Freak",
                    " Book 8)",
                    "America (The Book): A Citizen's Guide to Democracy Inaction",
                    "American Gods",
                    "Amsterdam",
                    "An Ideal Husband",
                    "Anansi Boys",
                    "Angels & Demons ",
                    "Anil's Ghost",
                    "Animal Farm: A Fairy Story",
                    "Anne Frank Remembered",
                    "Anne Frank: Beyond the Diary - A Photographic Remembrance",
                    "Anne of Green Gables",
                    "Another Bullshit Night in Suck City: A Memoir",
                    "Another Roadside Attraction",
                    "Anthem",
                    "As The Crow Flies",
                    "As Valkírias",
                    "Assassination Vacation",
                    "Atlas Shrugged",
                    "Atonement",
                    "Awakening the Buddha Within : Tibetan Wisdom for the Western World",
                    "BLEACH―ブリーチ―　1",
                    "Bagombo Snuff Box",
                    "Barrel Fever: Stories and Essays",
                    "Bel Canto",
                    "Beloved",
                    "Benim Adım Kırmızı",
                    "Betsy-Tacy",
                    "Birdsong",
                    "Black Beauty",
                    "Black and Blue",
                    "Bleachers",
                    "Bleach―ブリーチ― 15",
                    "Blink",
                    "Blue Like Jazz: Nonreligious Thoughts on Christian Spirituality",
                    "Blue Ocean Strategy: How to Create Uncontested Market Space and Make Competition Irrelevant",
                    "Bluebeard",
                    "Bokhandleren i Kabul",
                    "Book of the Dead",
                    "Boy: Tales of Childhood",
                    "Brave New World",
                    "Brave New World Revisited ",
                    "Brave New World/Brave New World Revisited",
                    "Breakfast of Champions",
                    "Breaking the Spell: Religion as a Natural Phenomenon",
                    "Breath",
                    " Eyes",
                    " Memory ",
                    "Bridge to Terabithia",
                    "Brief Interviews with Hideous Men",
                    "Brokeback Mountain",
                    "Built to Last: Successful Habits of Visionary Companies",
                    "Burmese Days",
                    "By the Shores of Silver Lake",
                    "Cane River",
                    "Cannery Row ",
                    "Captain Corelli's Mandolin",
                    "Casino Royale",
                    "Cause of Death",
                    "Chapterhouse: Dune",
                    "Charlie and the Chocolate Factory",
                    "Charlie and the Great Glass Elevator: The Further Adventures of Charlie Bucket and Willy Wonka",
                    " Chocolate-Maker Extraordinaire",
                    "Children of Dune",
                    "Cien años de soledad",
                    "Cirque Du Freak (Cirque du Freak",
                    " #1) ",
                    "City of Glass",
                    "Cloudy with a Chance of Meatballs",
                    "Code to Zero",
                    "Collapse: How Societies Chose to Fail or Succeed",
                    "Collected Works",
                    "Comfort Me with Apples: More Adventures at the Table",
                    "Como agua para chocolate",
                    "Complications: A Surgeon's Notes on an Imperfect Science",
                    "Confessions of a Shopaholic",
                    "Confessions of an Economic Hit Man",
                    "Congo",
                    "Consider the Lobster",
                    "Cover Her Face",
                    "Cradle to Cradle: Remaking the Way We Make Things",
                    "Crossing to Safety",
                    "Crow Lake",
                    "Cry",
                    " The Beloved Country",
                    "Cryptonomicon",
                    "Cuentos de Eva Luna",
                    "Daniel Deronda",
                    "Danny: The Champion of the World",
                    "Darkness",
                    "Darwin's Dangerous Idea: Evolution and the Meanings of Life",
                    "Das Drama des begabten Kindes und die Suche nach dem wahren Selbst: eine Um- und Fortschreibung",
                    "Das Parfum. Die Geschichte eines Mörders",
                    "Deadeye Dick",
                    "Dear John",
                    "Deception Point",
                    "Deerskin",
                    "Desert Flower: The Extraordinary Journey of a Desert Nomad",
                    "Diamonds are Forever",
                    "Die Verwandlung und andere Erzählungen",
                    "Digging to America",
                    "Dirk Gently's Holistic Detective Agency",
                    "Disclosure",
                    "Disgrace",
                    "Dispatches",
                    "Do Androids Dream of Electric Sheep?",
                    "Don Quijote de La Mancha",
                    "Don't Make Me Think! A common sense approach to web usability",
                    "Down Under",
                    "Dr. No",
                    "Dragonfly in Amber",
                    "Dreamland ",
                    "Drowning Ruth",
                    "Dune Messiah ",
                    "East of Eden  ",
                    "Eaters of the Dead",
                    "Eats",
                    " Shoots and Leaves",
                    "Economics in One Lesson",
                    "Eiger Dreams: Ventures Among Men and Mountains",
                    "El Aleph",
                    "El amor en los tiempos del cólera",
                    "El club Dumas",
                    "Emily of New Moon",
                    "Emma",
                    "Enchantment",
                    "Ender's Shadow",
                    "Enduring Love",
                    "Endymion",
                    "Ensaio Sobre a Cegueira",
                    "Ethan Frome",
                    "Even Cowgirls Get the Blues",
                    "Everyday Italian: 125 Simple and Delicious Recipes",
                    "Extremely Loud and Incredibly Close",
                    "Fahrenheit 451",
                    "Fall on Your Knees",
                    "Falling Angels",
                    "Fantastic Mr Fox",
                    "Farewell",
                    " My Lovely",
                    "Farmer Boy",
                    "Fast Food Nation : The Dark Side of the All-American Meal ",
                    "Fear and Loathing in Las Vegas: A Savage Journey to the Heart of the American Dream",
                    "Fear and Loathing on the Campaign Trail '72",
                    "Fear of Flying",
                    "Fever Pitch",
                    "Fierce Invalids Home From Hot Climates",
                    "Fight Club",
                    "Fire Sea",
                    "First They Killed My Father: A Daughter of Cambodia Remembers ",
                    "Five Little Peppers and How They Grew",
                    "Forever Amber",
                    "Forever in Blue: The Fourth Summer of the Sisterhood",
                    "Founding Brothers: The Revolutionary Generation",
                    "Four Blondes",
                    "Four to Score ",
                    "Franny and Zooey",
                    "Freak the Mighty",
                    "Freakonomics: A Rogue Economist Explores the Hidden Side of Everything",
                    "Fried Green Tomatoes at the Whistle Stop Cafe",
                    "From Beirut to Jerusalem",
                    "From Potter's Field",
                    "From Russia",
                    " with Love",
                    "From the Mixed-Up Files of Mrs. Basil E. Frankweiler",
                    "Galápagos",
                    "Gates of Fire: An Epic Novel of the Battle of Thermopylae",
                    "Gawayn and þe Grene Knyȝt",
                    "Generation X: Tales for an Accelerated Culture",
                    "Genome: The Autobiography of a Species in 23 Chapters",
                    "Getting Things Done: How To Achieve Stress-free Productivity",
                    "Ghostwritten",
                    "Giada's Family Dinners",
                    "Girl with a Pearl Earring",
                    "Girlfriend in a Coma",
                    "Girls in Pants: The Third Summer of the Sisterhood",
                    "Glamorama",
                    "God Bless You",
                    " Dr. Kevorkian",
                    "God Bless You",
                    " Mr Rosewater or Pearls before Swine",
                    "Going After Cacciato",
                    "Going Solo",
                    "Goldfinger",
                    "Gravity's Rainbow",
                    "Great Expectations",
                    "Gulliver’s Travels",
                    "Guns",
                    " Germs",
                    " and Steel: The Fates of Human Societies",
                    "Half Asleep in Frog Pajamas",
                    "Hard Eight",
                    "Hard Times: For These Times",
                    "Haroun and the Sea of Stories",
                    "Harry Potter Collection (Harry Potter",
                    " #1-6)",
                    "Harry Potter and the Goblet of Fire",
                    "Harry Potter and the Half-Blood Prince",
                    "Harry Potter and the Order of the Phoenix",
                    "Harry Potter and the Philosopher's Stone",
                    "Harry Potter and the Prisoner of Azkaban",
                    "Hatchet",
                    "Heart of Darkness",
                    "Heidi",
                    "Here on Earth ",
                    "Heretics of Dune",
                    "Herzog",
                    "Hey Nostradamus!",
                    "High Five",
                    "His Excellency: George Washington",
                    "Histoire de la sexualité 1. La Volonté de savoir",
                    "Hocus Pocus",
                    "Holidays on Ice",
                    "Holy Cow: An Indian Adventure",
                    "Homage to Catalonia",
                    "Horton Hears a Who!",
                    "Hot Six",
                    "How We Are Hungry",
                    "How to Be Good",
                    "How to Make Love Like a Porn Star: A Cautionary Tale",
                    "How to Stop Worrying and Start Living",
                    "How to Win Friends and Influence People",
                    "Howards End",
                    "Howl and Other Poems ",
                    "Howl's Moving Castle",
                    "Hunters of the Dusk (Cirque Du Freak",
                    " #7)",
                    "I Can Read with My Eyes Shut!",
                    "I Feel Bad About My Neck: And Other Thoughts on Being a Woman",
                    "I Hope They Serve Beer in Hell",
                    "I Like You: Hospitality Under the Influence",
                    "Icy Sparks",
                    "Il barone rampante",
                    "Ilium",
                    "In Our Time",
                    "In Search of Excellence",
                    "In the Company of Cheerful Ladies",
                    "In the Lake of the Woods",
                    "In the Skin of a Lion",
                    "Infinite Jest",
                    "Interpreter of Maladies",
                    "Into Thin Air: A Personal Account of the Mt. Everest Disaster",
                    "Into the Wild",
                    "Inés del alma mía",
                    "Island",
                    "Islands in the Stream",
                    "It's Not About the Bike: My Journey Back to Life",
                    "Ivanhoe",
                    "Jack: Straight from the Gut",
                    "Jackdaws",
                    "Jailbird",
                    "James and the Giant Peach",
                    "Jesus Freaks: DC Talk and The Voice of the Martyrs - Stories of Those Who Stood for Jesus",
                    " the Ultimate Jesus Freaks",
                    "Jewel (Oprah's Book Club) ",
                    "Jitterbug Perfume",
                    "Job: A Comedy of Justice",
                    "John Adams",
                    "Jurassic Park",
                    "Keep the Aspidistra Flying",
                    "Killers of the Dawn (Cirque Du Freak",
                    " #9)",
                    "Killing Yourself to Live: 85% of a True Story",
                    "King Rat",
                    "Kurt Vonnegut's Cat Cradle",
                    "L'Amant",
                    "L'Éducation sentimentale",
                    "La Dame aux camélias",
                    "La Divina Commedia",
                    "La casa de los espíritus",
                    "La ciudad de las bestias",
                    "La sombra del viento",
                    "Last Chance Saloon",
                    "Last Chance to See",
                    "Last Orders",
                    "Le Comte de Monte-Cristo",
                    "Le città invisibili",
                    "Les Trois Mousquetaires",
                    "Less Than Zero",
                    "Leviathan",
                    "Liar's Poker: Rising Through the Wreckage on Wall Street",
                    "Libra ",
                    "Life & Times of Michael K.",
                    "Life of Pi",
                    "Life",
                    " the Universe and Everything",
                    "Lipstick Jungle",
                    "Little Altars Everywhere",
                    "Little House In The Big Woods",
                    "Little Town on the Prairie",
                    "Little Women",
                    "Live and Let Die",
                    "Lolita",
                    "Longitude",
                    "Lord of the Flies ",
                    "Lord of the Shadows (Cirque Du Freak",
                    " #11)",
                    "Lost Horizon",
                    "Loving What Is: Four Questions That Can Change Your Life",
                    "Lucy Sullivan is Getting Married",
                    "Lunar Park",
                    "Madame Bovary",
                    "Manual do guerreiro da luz",
                    "Mariel of Redwall",
                    "Marina",
                    "Marlfox",
                    "Maurice",
                    "Maximum City: Bombay Lost and Found",
                    "Mayflower: A Story of Courage",
                    " Community",
                    " and War",
                    "Me Talk Pretty One Day",
                    "Memoirs of a Geisha",
                    "Memoria de mis putas tristes",
                    "Memorial do Convento",
                    "Men Are from Mars",
                    " Women Are from Venus Book of Days: 365 Inspirations to Enrich Your Relationships",
                    "Message in a Bottle",
                    "Messenger of Truth",
                    "Metamorphoses",
                    "Microserfs",
                    "Middlesex",
                    "Midnight for Charlie Bone",
                    "Midwives",
                    "Moloka'i",
                    "Moneyball: The Art of Winning an Unfair Game",
                    "Moo",
                    " Baa",
                    " La La La!",
                    "Moon Palace",
                    "Moonraker",
                    "Morality for Beautiful Girls",
                    "Mornings on Horseback",
                    "Mostly Harmless",
                    "Mother Night",
                    "Mother of Pearl",
                    "Motor Mouth",
                    "Mrs. Frisby and the Rats of NIMH",
                    "My Friend Leonard",
                    "My Life in France",
                    "Na margem do rio Piedra eu sentei e chorei",
                    "Naked",
                    "Narziß und Goldmund",
                    "Neither Here Nor There: Travels in Europe",
                    "Nesnesitelná lehkost bytí",
                    "Never Let Me Go",
                    "Next",
                    "Nickel and Dimed: On (Not) Getting By in America",
                    "Night over Water",
                    "Nine Stories",
                    "Nineteen Eighty-Four",
                    "No Logo",
                    "Notes from a Big Country",
                    "Notes from a Small Island",
                    "O Alquimista",
                    "O Demônio e a Srta. Prym",
                    "O Diário de um Mago",
                    "O Monte Cinco",
                    "O Zahir",
                    "Oblivion",
                    "Of Mice and Men ",
                    "Olivia Joules And The Overactive Imagination",
                    "Olympos",
                    "On Beauty",
                    "On Her Majesty's Secret Service",
                    "One Fish",
                    " Two Fish",
                    " Red Fish",
                    " Blue Fish",
                    "One for the Money",
                    "Onze minutos",
                    "Open House",
                    "Outcast of Redwall",
                    "Pale Fire",
                    "Papillon ",
                    "Pardonable Lies",
                    "Paris to the Moon",
                    "Path of the Assassin",
                    "Persepolis",
                    "Persepolis 2 ",
                    "Persuasion",
                    "Peter and the Shadow Thieves",
                    "Phänomenologie des Geistes",
                    "Play It as It Lays",
                    "Player Piano",
                    "Plum Lovin'",
                    "Point of Origin",
                    "Pompeii",
                    "Portrait of a Killer: Jack The Ripper - Case Closed",
                    "Post-Mortem:  A Mystery Introducing Dr. Kay Scarpetta",
                    "Practicing the Power of Now: Essential Teachings",
                    " Meditations",
                    " and Exercises from The Power of Now",
                    "Predator",
                    "Prep",
                    "Pride and Prejudice",
                    "Prophet",
                    "Pygmalion",
                    "Pygmalion and My Fair Lady (50th Anniversary Edition) (Signet Classics (Paperback))",
                    "QED: The Strange Theory of Light and Matter",
                    "Quicksilver",
                    "Rachael Ray 365: No Repeats--A Year of Deliciously Different Dinners (A 30-Minute Meal Cookbook)",
                    "Rachel's Holiday",
                    "Rainbow Six",
                    "Raise High the Roof Beam",
                    " Carpenters / Seymour: An Introduction",
                    "Reading Lolita in Tehran: A Memoir in Books",
                    "Red Prophet (Tales of Alvin Maker",
                    " #2)",
                    "Redwall",
                    "Regeneration",
                    "Reservation Blues",
                    "Revolting Rhymes",
                    "Rising Sun",
                    "Rose Daughter",
                    "Sailing Alone Around the Room: New and Selected Poems",
                    "Salamandastron",
                    "Salt: A World History",
                    "Saturday",
                    "Saving Fish from Drowning: A Novel",
                    "Se questo è un uomo",
                    "Seven Up",
                    "Sex and the City",
                    "Sex",
                    " Drugs",
                    " and Cocoa Puffs: A Low Culture Manifesto",
                    "Shadow Divers: The True Adventure of Two Americans Who Risked Everything to Solve One of the Last Mysteries of World War II",
                    "Shadow of the Giant",
                    "Shadow of the Hegemon",
                    "Shalimar the Clown",
                    "She's Come Undone",
                    "Sherlock Holmes: The Complete Novels and Stories",
                    " Vol 2",
                    "Sherlock Holmes: The Complete Novels and Stories",
                    " Volume I",
                    "Shopaholic Abroad",
                    "Shopaholic Ties the Knot",
                    "Shopaholic and Baby",
                    "Shopaholic and Sister",
                    "Sickened",
                    "Six Easy Pieces: Essentials of Physics Explained by Its Most Brilliant Teacher",
                    "Skinny Legs and All",
                    "Skipping Christmas",
                    "Slapstick",
                    "Slaughterhouse-Five",
                    " or The Children's Crusade: A Duty-Dance with Death ",
                    "Slouching Towards Bethlehem: Essays",
                    "Snow Crash",
                    "Snow Flower and the Secret Fan",
                    "So Long",
                    " and Thanks for All the Fish",
                    "Song of Susannah",
                    "Songs in Ordinary Time",
                    "Sons of Destiny (Cirque Du Freak",
                    " Book 12)",
                    "Speaker for the Dead",
                    "Special Topics in Calamity Physics",
                    "Still Life with Woodpecker",
                    "Stranger Than Fiction: True Stories",
                    "Stranger in a Strange Land",
                    "Suffer the Children",
                    "Sunshine",
                    "Superman: Birthright 1-12",
                    "Surely You're Joking",
                    " Mr. Feynman! Adventures of a Curious Character",
                    "Suzanne's Diary for Nicholas",
                    "Tales of Caunterbury",
                    "Tara Road",
                    "Teacher Man",
                    "Team of Rivals: The Political Genius of Abraham Lincoln",
                    "Tears of the Giraffe",
                    "Ten Apples Up on Top",
                    "The 158-Pound Marriage",
                    "The 48 Laws of Power",
                    "The Adventures of Huckleberry Finn",
                    "The Adventures of Sherlock Holmes",
                    "The Amazing Adventures of Kavalier & Clay",
                    "The Amber Room",
                    "The America's Test Kitchen Family Cookbook",
                    "The Android's Dream",
                    "The Andromeda Strain",
                    "The Atonement Child",
                    "The Audacity of Hope: Thoughts on Reclaiming the American Dream",
                    "The Autograph Man",
                    "The Automatic Millionaire: A Powerful One-Step Plan to Live and Finish Rich",
                    "The BFG",
                    "The Barefoot Contessa Cookbook",
                    "The Beach House",
                    "The Beautiful and Damned",
                    "The Bell Jar",
                    "The Bellmaker",
                    "The Big Bad Wolf  ",
                    "The Big Over Easy",
                    "The Big Sleep",
                    "The Blank Slate: The Modern Denial of Human Nature",
                    "The Body Farm",
                    "The Bone Collector",
                    "The Bonfire of the Vanities",
                    "The Book of Ruth",
                    "The Bourne Identity",
                    "The Brethren",
                    "The Broker",
                    "The Brooklyn Follies",
                    "The Broom of the System",
                    "The Burden of Proof",
                    "The Call of the Wild",
                    "The Cat in the Hat and Other Dr. Seuss Favorites",
                    "The Catcher in the Rye",
                    "The Cement Garden",
                    "The Chamber",
                    "The Cider House Rules",
                    "The Clan of the Cave Bear",
                    "The Client",
                    "The Comfort of Strangers",
                    "The Complete Anne of Green Gables Boxed Set",
                    "The Complete Short Stories of Ernest Hemingway",
                    "The Confusion",
                    "The Corrections",
                    "The Crying of Lot 49",
                    "The Curious Incident of the Dog in the Night-Time",
                    "The Da Vinci Code",
                    "The Dark Tower",
                    "The Deep End of the Ocean",
                    "The Devil Wears Prada",
                    "The Diamond Age",
                    "The Door into Summer",
                    "The Doors of Perception & Heaven and Hell",
                    "The Drawing of the Three",
                    "The Egypt Game",
                    "The Electric Kool-Aid Acid Test",
                    "The Elegant Universe: Superstrings",
                    " Hidden Dimensions",
                    " and the Quest for the Ultimate Theory",
                    "The Emperor's Children",
                    "The Firm",
                    "The First Four Years",
                    "The First World War",
                    "The Five Love Languages of Children",
                    "The Five People You Meet in Heaven",
                    "The Fortress of Solitude",
                    "The Fountainhead",
                    "The Four Agreements: A Practical Guide to Personal Freedom",
                    " A Toltec Wisdom Book",
                    "The Fourth Hand",
                    "The Game",
                    "The Giraffe and the Pelly and Me",
                    "The Giver",
                    "The Glass Castle",
                    "The God of Small Things",
                    "The Good Earth",
                    "The Good Husband of Zebra Drive",
                    "The Good Soldier",
                    "The Grapes of Wrath",
                    "The Great Book of Amber",
                    "The Great Gatsby",
                    "The Great Train Robbery",
                    "The Ground Beneath Her Feet",
                    "The Heart of a Woman",
                    "The Heart of the Matter",
                    "The High Window",
                    "The History of Love",
                    "The Hitchhiker's Guide to the Galaxy",
                    "The Hobbit and The Lord of the Rings",
                    "The Hobbit or There and Back Again",
                    "The Hound of the Baskervilles",
                    "The Hungry Tide",
                    "The Idiot Girls' Action-Adventure Club: True Tales from a Magnificent and Clumsy Life",
                    "The Informers",
                    "The Innocent Man",
                    "The Innovator's Dilemma: The Revolutionary Book that Will Change the Way You Do Business (Collins Business Essentials)",
                    "The Jane Austen Book Club",
                    "The Johnstown Flood",
                    "The Joy Luck Club",
                    "The Kalahari Typing School for Men",
                    "The King of Torts",
                    "The Known World",
                    "The Lake of Souls (Cirque Du Freak",
                    " #10)",
                    "The Language Instinct: How the Mind Creates Language",
                    "The Last Juror",
                    "The Legend of Luke",
                    "The Life and Adventures of Martin Chuzzlewit",
                    "The Life and Strange Surprising Adventures of Robinson Crusoe of York",
                    " Mariner",
                    "The List",
                    "The Long Dark Tea-Time of the Soul",
                    "The Long Goodbye",
                    "The Long Patrol",
                    "The Long Walk",
                    "The Long Walk: The True Story of a Trek to Freedom",
                    "The Long Winter (Little House",
                    " #6)",
                    "The Lorax",
                    "The Lord of the Rings",
                    "The Lord of the Rings: The Art of The Fellowship of the Ring",
                    "The Lord of the Rings: Weapons and Warfare",
                    "The Lost Continent: Travels in Small-Town America",
                    "The Lost World",
                    "The Man Who Listens to Horses",
                    "The Man from St. Petersburg",
                    "The Men Who Stare at Goats",
                    "The Mermaid Chair",
                    "The Millionaire Next Door: The Surprising Secrets of America's Wealthy",
                    "The Moonstone",
                    "The Moor's Last Sigh",
                    "The Mother Tongue: English and How It Got That Way",
                    "The Naked Lunch",
                    "The Natural Way to Draw",
                    "The New York Trilogy",
                    "The No. 1 Ladies' Detective Agency ",
                    "The Old Man and the Sea",
                    "The Omnivore's Dilemma",
                    "The Other Side of the Story",
                    "The Partner",
                    "The Path Between the Seas: The Creation of the Panama Canal",
                    " 1870-1914",
                    "The Pearl of the World",
                    "The Pearls of Lutra",
                    "The People of Sparks",
                    "The Phantom Tollbooth",
                    "The Physician",
                    "The Picture of Dorian Gray",
                    "The Pillars of Creation",
                    "The Pillars of the Earth",
                    "The Pilot's Wife",
                    "The Plot Against America",
                    "The Poetry of Pablo Neruda",
                    "The Poisonwood Bible",
                    "The Portrait of a Lady",
                    "The Power and the Glory",
                    "The Power of Now",
                    "The Power of One",
                    "The Pragmatic Programmer: From Journeyman to Master",
                    "The Prophet",
                    "The Psychology of Everyday Things",
                    "The Quiet American",
                    "The Rainmaker",
                    "The Rapture of Canaan",
                    "The Red Pony",
                    "The Red Tent",
                    "The Rescue",
                    "The Restaurant at the End of the Universe",
                    "The River",
                    "The Road",
                    "The Rules of Attraction",
                    "The Salmon of Doubt: Hitchhiking the Galaxy One Last Time",
                    "The Sea",
                    "The Second Summer of the Sisterhood",
                    "The Secret Art of Dr. Seuss",
                    "The Secret Garden",
                    "The Shadow Rising ",
                    "The Shipping News",
                    "The Short Stories of F. Scott Fitzgerald",
                    "The Silmarillion",
                    "The Sirens of Titan",
                    "The Smoke Jumper",
                    "The Snows of Kilimanjaro and Other Stories",
                    "The Street Lawyer",
                    "The Summons",
                    "The Sun Also Rises",
                    "The Taste of Home Cookbook",
                    "The Terminal Man",
                    "The Terror",
                    "The Testament",
                    "The Thorn Birds",
                    "The Time Machine",
                    "The Tipping Point: How Little Things Can Make a Big Difference",
                    "The Tragedy of Macbeth",
                    "The Tragicall Historie of Hamlet",
                    " Prince of Denmark",
                    "The Ultimate Hitchhiker's Guide: Five Complete Novels and One Story",
                    "The Universe in a Nutshell",
                    "The Vampire Prince (Cirque Du Freak",
                    " #6)",
                    "The Vampire's Assistant (Cirque du Freak",
                    " #2) ",
                    "The Very Hungry Caterpillar",
                    "The View from Saturday",
                    "The Virgin Blue",
                    "The Virtue of Selfishness: A New Concept of Egoism",
                    "The War of Art: Break Through the Blocks and Win Your Inner Creative Battles",
                    "The War of the Worlds",
                    "The Water-Method Man",
                    "The Way the Crow Flies",
                    "The Wedding",
                    "The Westing Game",
                    "The Wind in the Willows",
                    "The Winter of our Discontent",
                    "The Witches",
                    "The Woman in White",
                    "The Wonderful Story Of Henry Sugar And Six More",
                    "The World According to Garp",
                    "The World Is Flat: A Brief History of the Twenty-first Century",
                    "The Year of Magical Thinking",
                    "Them: Adventures with Extremists",
                    "Think and Grow Rich",
                    "Three Complete Novels: Carrie/Salem's Lot/The Shining",
                    "Three Men in a Boat (To Say Nothing of the Dog)",
                    "Three Weeks with My Brother",
                    "Three to Get Deadly",
                    "Timbuktu",
                    "Time Enough for Love",
                    "Timeline",
                    "Timequake",
                    "To Have and Have Not ",
                    "To Kill a Mockingbird",
                    "Todos os Nomes",
                    "Trace",
                    "Travels with Charley: In Search of America",
                    "Treasure Island",
                    "Trials of Death (Cirque du Freak",
                    " #5) ",
                    "Tropic of Cancer",
                    "Tropic of Capricorn",
                    "True Believer",
                    "Truman",
                    "Trump: The Art of the Deal",
                    "Truth & Beauty: A Friendship",
                    "Tuesdays with Morrie",
                    "Tunnels of Blood (Cirque du Freak",
                    " #3) ",
                    "Twelfth Night; or",
                    " What You Will",
                    "Twelve Sharp",
                    "Two for the Dough",
                    "Un di Velt Hot Geshvign",
                    "Unfinished Tales of Númenor and Middle-Earth",
                    "Unlimited Power : The New Science Of Personal Achievement",
                    "Until I Find You",
                    "V for Vendetta",
                    "V.",
                    "Vampire Mountain (Cirque du Freak",
                    " #4) ",
                    "Vanity Fair: A Novel Without a Hero",
                    "Veinte poemas de amor y una canción desesperada",
                    "Veronika decide morrer",
                    "Villa Incognito",
                    "Vingt ans après",
                    "Virgin",
                    "Visions of Sugar Plums",
                    "Waiting for the Barbarians",
                    "Watermelon",
                    "Way of the Peaceful Warrior: A Book That Changes Lives",
                    "Ways of Seeing",
                    "We Were the Mulvaneys",
                    "We the Living",
                    "Welcome to the Monkey House",
                    "West with the Night",
                    "What Do You Care What Other People Think? Further Adventures of a Curious Character",
                    "What Is the What: The Autobiography of Valentino Achak Deng",
                    "What Looks Like Crazy on an Ordinary Day",
                    "What to Expect the First Year",
                    "Where the Heart Is",
                    "While I Was Gone",
                    "White Teeth",
                    "Who Moved My Cheese?",
                    "Wild Fire",
                    "Wild Swans: Three Daughters of China",
                    "Witches Abroad",
                    "Wizard and Glass",
                    "Wolves of the Calla",
                    "Women in Love",
                    "World War Z: An Oral History of the Zombie War",
                    "World Without End",
                    "Wuthering Heights",
                    "Xenocide",
                    "Year of Wonders: A Novel of the Plague",
                    "You Shall Know Our Velocity!",
                    "Zen and the Art of Motorcycle Maintenance",
                    "Zodiac",
                    "number9dream",
                    "Λυσιστράτη",
                    "Οἰδίπους Τύραννος",
                    "Бесы",
                    "Братья Карамазовы",
                    "Война и миръ",
                    "Преступление и наказание",
                    "Рассказы и Повести",
                    "الأجنحة المتكسرة",
                    "Ἀγαμέμνων",
                    "Ἀντιγόνη",
                    "Ἰλιάς",
                    "Ἰλιάς ; Ὀδύσσεια",
                    "Ἰστορίαι",
                    "Ὀδύσσεια",
                    "Ὀρέστεια",
                    "…trotzdem Ja zum Leben sagen: Ein Psychologe erlebt das Konzentrationslager",
                    "スプートニクの恋人 [Supūtoniku no Koibito]",
                    "海辺のカフカ [Umibe no Kafuka]",
                    "砂の女 [Suna no onna]",
                    "象の消滅 [Zō no shōmetsu]",
                    "鋼の錬金術師 1"];
                autocomplete(document.getElementById("sb1"), books);
            </script>
        </div>
    </div>
    </div>
    </div>
</form>
</body>

</html>